.newMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.newMovies a {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

@media(min-width: 576px) {
  .newMovies {
    justify-content: space-between;
  }
  .newMovies a {
    width: 48%;
  }
}

@media(min-width: 768px) {
  .newMovies a {
    width: 31.5%;
  }
}

@media(min-width: 992px) {
  .newMovies a {
    width: 23%;
  }
}

.movieLink {
  position: relative;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  background-color: #263238;
  color: #ff7711;
  opacity: 0;
  visibility: hidden;
}

.movieLink:hover .movieInfo {
  opacity: 1;
  visibility: visible;
}
