/* Main rules */

html {
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  background-color: #fff;
  color: #000;
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media(min-width: 1060px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}

.imgResponsive {
  width: 100%;
  height: auto;
}


/* Typography */

h1 {
  font-weight: 800;
  transition: all 0.35s ease-out;
}

h2 {
  font-weight: 800;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.35s ease-out;
}


/* Nav */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul a {
  font-weight: 600;
}

a h1:hover, ul a:hover {
  color: #ff7711;
}
